/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --header-image: url(../images/cover-image-dark.png);
  --decoration-style: "";
  --menu-button-hover-color: 255, 0, 112, 0.4;
  --header-title-color:#DB00FF;
  --accent-title-color: #FF0070;
  --header-list-item-color: #FF0070;
  --decoration-line: #FF0070;
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-subtitle-color: #000028;
  --main-subtitle-background-color: #FF0070;
  --website-main-background-color: #000028;
  --link-color: #FF0070;  
}

.page.theme_dark {
  --header-image: url(../images/cover-image-dark.png);
  --decoration-style: "";
  --menu-button-hover-color: 255, 0, 112, 0.4;
  --header-title-color:#DB00FF;
  --accent-title-color: #FF0070;
  --header-list-item-color: #FF0070;
  --decoration-line: #FF0070;
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-subtitle-color: #000028;
  --main-subtitle-background-color: #FF0070;
  --website-main-background-color: #000028;
  --link-color: #FF0070;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-image: url(../images/cover-image-dark.png);
    --decoration-style: "";
    --menu-button-hover-color: 255, 0, 112, 0.4;
    --header-title-color:#DB00FF;
    --accent-title-color: #FF0070;
    --header-list-item-color: #FF0070;
    --decoration-line: #FF0070;
    --main-title-color: #FF0070;
    --main-text-color: #F1B2CE;
    --main-subtitle-color: #000028;
    --main-subtitle-background-color: #FF0070;
    --website-main-background-color: #000028;
    --link-color: #FF0070;           
  }
}



