/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px; 
  box-sizing: border-box;
  margin: auto; 
  font-family: "IBM Plex Mono", Raleway;
  font-size: 18px;
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  background-image: url(../images/cover-image-dark.png);
  padding: 10px;  /* будет меняться при изменении width*/
  grid-template-rows: 1fr 1fr 1fr;
  height: 668px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.header__theme-menu-item {
  padding:0 13px 0 13px;
  color: var(--header-list-item-color, #FF0070);
  text-transform: lowercase;
}

.header__theme-menu-button {
  border: 0;
  background: none;
  cursor: pointer;
}

.header__title {
  color: var(--header-title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-title-color, #FF0070);
  justify-content: start;
  align-content: center;
}

.header__section {
  display: grid;
  color: var( --main-subtitle-color, #000028);
  align-content: center;
}
.header__section-text {
  background-color: var(--main-subtitle-background-color, #FF0070);
}