/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

body {
  display: grid;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%; 
  margin: auto; 
  font-family: "IBM Plex Mono", Regular;
  font-size: 18px;
  font-weight: 400;
  gap: var(--section-padding-body);
}
.page {
  background-image: var(--header-image);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  object-fit: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var( --website-main-background-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh; /*Изменяется*/
  padding: var(--main-largest-padding);  /* будет меняться при изменении width*/
  width: 100%; /*Изменяется*/
}

.decoration-line {
  position: absolute;
  width: 25px;
  height: 25px;
}

.decoration-line-top {
  top: var(--main-largest-padding);
  right: var(--main-largest-padding); 
  border-top: 1px solid var(--decoration-line) ;
  border-right: 1px solid var(--decoration-line) ;
}

.decoration-line-top::after {
  display: var(--decoration-style);
  position: absolute;
  right: 9px;
  top: 8px;
  content: "";
  background-size: contain;
  background-color: var(--decoration-line);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--decoration-line);
}

.decoration-line-top::before {
  display: var(--decoration-style);
  position: absolute;
  content: "REC";
  color: var(--decoration-line);
  right: 28px;
}

.decoration-line-bottom {
  bottom: var(--main-largest-padding);
  left: var(--main-largest-padding); 
  border-bottom: 1px solid var(--decoration-line) ;
  border-left: 1px solid var(--decoration-line) ;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--header-list-item-color, #FF0070);
  text-transform: lowercase;
}

.header__theme-menu-button {
  background: none;
  cursor: pointer;
  padding:0 13px 0 13px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--menu-button-hover-color));
}

.header__theme-menu-button:focus {
  outline: 0;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px ;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  color: var(--header-title-color, #DB00FF);
  font-size: var(--largest-title-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-title-color, #FF0070);
  justify-content: start;
  align-content: center;
  font-weight: 700;
}

.header__section {
  display: grid;
  color: var( --main-subtitle-color, #000028);
  align-content: center;
  justify-content: end;
  font-size: 18px;
}
.header__section-text {
  display: grid;
  background-color: var(--main-subtitle-background-color, #FF0070);
  font-weight: 700;

}

.main {
  display: grid;
  width: 100%;
  padding-left: var(--main-largest-padding);
  padding-right: var(--main-largest-padding);
  font-weight: 400;
  line-height: 130%;
  gap: var(--main-section-padding);
}

.main__section {
  display: grid;
  gap: 20px;
  
}

.main__section-title {
  font-weight: 700;
  color: var(--main-title-color);
}

.main__section-text-block {
  display: grid;
  gap: 20px;
}
.main__section-text-conteiner {
  display: grid; 
  gap: 10px;
}

.main__section-subtitle {
  font-weight: 700;
  color: var(--main-subtitle-color);
  background-color: var(--main-subtitle-background-color);
}

.main__section-text {
  color: var(--main-text-color);
}

.main__section-text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--link-color ,#FF0070);
}

.main__section-text-link:hover {
  border-bottom: 1px solid var(--main-text-color) ;
}

.main__section-text-link:focus {
  outline: 0;
  border: 1px solid currentColor;
}

.main__section-subtitle-item {
  font-weight: 400;
  color: var(--main-subtitle-color);
  background-color: var(--main-subtitle-background-color);
}

.main__section-picture {
  width: 100%;
}

.main__section-list {
  width: 100%;
  gap: 20px
}

.main__section-list-item {
}

.main__section-icon {
  width: 100%;
  object-fit: cover;
}

.main__section-icon-sunset {
  grid-area: sunset;
}

.main__section-icon-ice-cream {
  grid-area: ice-cream;
}

.main__section-icon-tape {
  grid-area: tape;
}

.main__section-icon-books {
  grid-area: books;
}

.main__section-icon-street {
  grid-area: street;
}

.main__section-subtitle-picture {
  margin-bottom: var(--section-subtitle-picture-margin);
}

.footer {
  position: relative;
  display: grid;
  padding: var(--main-largest-padding);
  width: 100%;
  height: 100vh; /*Изменяется*/
}

.footer__title {
  display: grid;
  color: var(--header-title-color, #DB00FF);
  font-size: var(--largest-title-font-size);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-title-color ,#FF0070);
  justify-content: center;
  align-content: center;
  font-weight: 700;
  font-family: 'IBM Plex Mono';
}

.footer-decoration-line-top {
  top: var(--main-largest-padding);
  right: var(--main-largest-padding); 
  border-top: 1px solid var(--decoration-line) ;
  border-right: 1px solid var(--decoration-line) ;  
}

.footer-decoration-line-buttom {
  bottom: var(--main-largest-padding);
  left: var(--main-largest-padding); 
  border-bottom: 1px solid var(--decoration-line) ;
  border-left: 1px solid var(--decoration-line) ;
}

@media (min-width: 768px) {
  .header-title{
    --largest-title-font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  } 
  .header__section-text {
    max-width: calc((100vw - (var(--main-largest-padding) * 2)) / 2);
  }
  .main__section_content:nth-child(2n+1){
    grid-template-columns: 0.97fr 2fr;  
  }
  .main__section-list {
    display: grid;
    grid-template-areas:  
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }
  .main__section-list-item {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .header__section-text {
    max-width: 491px;
  }
  .header .header__theme-menu {
    display: flex;
    justify-content: center;
    align-content: top;
  }
  .header__theme-menu .header__theme-menu-list {
    flex-direction: row;
  }
  .main__section_content:nth-child(2n) .main__section-text-block {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__section_content:nth-child(2n) .main__section-text-conteiner{
    grid-template-rows: auto 1fr;
  }
} 