/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-title-color:#DB00FF;
  --accent-title-color: #FF0070;
  --header-list-item-color: #FF0070;
  --decoration-line: #FF0070;
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-subtitle-color: #000028;
  --main-subtitle-background-color: #FF0070;
  --website-main-background-color: #000028;
  --main-largest-padding: 10px;
  --main-width: 375px; /*Изменяется*/
  --main-section-padding: 50px;
  --section-padding-body: 40px;
  --section-subtitle-picture-margin: 10px;
}