/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-image: url(../images/cover-image-dark.png);
  --decoration-style: "";
  --header-title-color:#DB00FF;
  --accent-title-color: #FF0070;
  --header-list-item-color: #FF0070;
  --decoration-line: #FF0070;
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-subtitle-color: #000028;
  --main-subtitle-background-color: #FF0070;
  --website-main-background-color: #000028;
  --link-color: #FF0070;
  --main-largest-padding: 10px;
  --main-width: 375px; /*Изменяется*/
  --main-section-padding: 50px;
  --section-padding-body: 40px;
  --section-subtitle-picture-margin: 10px;
}



@media (min-width: 768px) {
  :root {
    --main-largest-padding: 20px;
    --main-section-padding: 80px;
    --section-padding-body: 60px;
  }
  .header__section-text {
    max-width: calc((100vw - (var(--main-largest-padding) * 2)) / 2);
  }
  .main__section_content:nth-child(2n+1){
    grid-template-columns: 1fr 2fr;  
  }
} 



@media (min-width: 1024px) {
  .header {
    max-height: 768px;
  }
  .header__section-text {
    max-width: 491px;
  }
  .main__section_content:nth-child(2n) .main__section-text-block {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__section_content:nth-child(2n) .main__section-text-conteiner{
    grid-template-rows: auto 1fr;
  }
  .footer {
    max-height: 768px;
  }
  
} 
